.contact {
    background-color: #181818;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    overflow: hidden;
    text-align: center;

    h2 {
        position: relative;
        text-align: center;
        color: #ffffff;
        font-size: 2em;
        margin: auto;
        font-family: "Nunito Sans", sans-serif;
        transition: 0.3s ease;
        margin-top: 40px;
        z-index: 99;
        transition: opacity 0.6s ease 0.2s, transform 0.6s ease 0.2s;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.content {
    position: relative;

    h2,
    .main_content iframe,
    .main_content .info .logo,
    .main_content .info h5,
    .main_content .info h6,
    .main_content .info a {
        opacity: 0;
        transform: translateY(20px);
        /* Start slightly below */
    }
}

.main_content {
    position: relative;
    margin: 20px 200px 80px;
    z-index: 111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    iframe {
        width: calc(50vw - 200px);
        height: calc(50vw - 200px);
        max-width: 600px;
        max-height: 600px;
        border-radius: 0.2em;
        transition: opacity 0.6s ease 0.2s, transform 0.6s ease 0.2s;
    }

    .info {
        padding: 20px;

        .logo {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 24px;
            transition: opacity 0.6s ease 0.4s, transform 0.6s ease 0.4s;

            .logo_symbol {
                position: relative;
                top: auto;
                bottom: auto;
                right: auto;
                left: auto;
                width: 100px;
                height: 100px;
                margin-bottom: 6px;
                opacity: 1;
            }

            h3 {
                font-size: 2em;
                color: #ffffff;
                text-align: center;
                font-family: "Source Sans 3", sans-serif;
            }

            h4 {
                font-size: 0.9em;
                color: #ffffff;
                text-align: center;
                margin-top: -6px;
                font-family: "Montserrat", sans-serif;
            }
        }

        h5,
        h6,
        a {
            font-size: 1em;
            color: #ffffff;
            text-align: center;
            margin-bottom: 16px;
            font-family: "Nunito Sans", sans-serif;
            font-weight: 800;
            transition: opacity 0.6s ease 0.6s, transform 0.6s ease 0.6s;
        }

        h6 {
            margin-bottom: 10px;

            span {
                margin-right: 6px;
                font-family: "Nunito Sans", sans-serif;
            }
        }

        a {
            text-decoration: none;
            cursor: pointer;
            transition: opacity 0.6s ease 0.8s, transform 0.6s ease 0.8s;
        }
    }
}

.content.animate {

    h2,
    .main_content iframe,
    .main_content .info .logo,
    .main_content .info h5,
    .main_content .info h6,
    .main_content .info a {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width: 1100px) {
    .main_content {
        margin: 20px 50px 60px;

        iframe {
            width: calc(50vw - 100px);
            height: calc(50vw - 100px);
        }
    }
}

@media screen and (max-width: 785px) {
    .contact {
        .top_img {
            height: 800px;
            width: 800px;
            top: -400px;
            right: -400px;
        }

        .bottom_img {
            width: 800px;
            height: 800px;
            top: auto;
            bottom: -400px;
        }

        h2 {
            font-size: 1.8em;
        }
    }

    .main_content {
        margin: 0 20px 20px;
        flex-direction: column-reverse;

        iframe {
            width: calc(100vw - 40px);
            height: calc(100vw - 40px);
        }

        .info {
            padding: 20px;

            .logo {
                margin-bottom: 24px;

                .logo_symbol {
                    width: 80px;
                    height: 80px;
                    margin-bottom: 6px;
                }

                h3 {
                    font-size: 1.8em;
                }

                h4 {
                    font-size: 0.8em;
                    text-align: center;
                    margin-top: -6px;
                    font-family: "Montserrat", sans-serif;
                }
            }

            h5,
            h6,
            a {
                font-size: 0.9em;
                text-align: center;
                margin-bottom: 8px;
                font-family: "Nunito Sans", sans-serif;
            }

            h6 {
                margin-bottom: 4px;

                span {
                    margin-right: 6px;
                    font-family: "Nunito Sans", sans-serif;
                }
            }

            a {
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}